@import './color';

// z-index
// 바디 영역은 1000번대, 팝업은 5000번대
// 그 외 작은 숫자 사용
// 토스트 1100

// layout
$header-height: 76px;

@font-face {
  font-family: 'ARCHISCULPTURE_v200';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2303@1.0/ARCHISCULPTURE_v200.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
